*{
    font-family: 'BIZ UDPGothic', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background: #F1D1DC;
}

.principal{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon_container{
    display: flex;
    position: relative;
}

.icon_contact{
    height: 4rem;
    width: 4rem;
    margin: 1rem;
    transition: transform .2s;
}
.icon_contact:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.avatar{
    position: absolute;
    top: -60px;
}

.mycircle{
    width: 400px;
    height: 400px;
    background: rgb(255,247,250);
    background: linear-gradient(0deg, rgba(255,247,250,1) 0%, rgba(255,255,255,1) 100%);
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    border-radius: 57% 33% 65% 26% / 35% 51% 46% 23%  ;
    position: relative;
}


.contenedorPresentacion{
    
    max-width: 500px;
    width: 90%;
    height: 400px;
    margin: 2rem;
    line-height: 2em;
}

.tecnologias{
    width: 100%;
    height: 150vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #DBB9E4;
}

.tecnologies_icon_container{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.tecnoligies_icon{
    width: 15rem;
    height: 15rem;
    margin: 5rem; 
}

.titulo{
    
    line-height: 2em;
}

.cursos{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #EFEFF1;
}

.contacto{
    width: 100%;
    height: 100vh;
    background: #F4D9E2;
}

.cursos_titulo{
 line-height: 5em;
}

.cursos-container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    align-items: center;
}

.cursos_img{
    width: 20rem;
    height: 15rem;
    margin: 1rem; 
}

